@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -text-rendering: optimizeLegibility;
  
  
}

.gratiantHero {
background: linear-gradient(180deg, #053B59 0%, #04080B 100%);
}

h1,h2,h3,p,span {
  @apply font-sans
}

.title {

  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 36px;

}

.subtitle {
 
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;



}

.btn-primary {
  display: flex;
  background: #075985;
  border-radius: 4px;
  color: white;
  padding-top: 16px;
  padding-bottom:  16px;
  padding-left: 15px;
  padding-right: 15px;

  align-items: center;
  justify-content: center;
  gap: 10px;
}

.section-black {
  background-color: #000000; /* Cor de fundo preta */
}

.section-white {
  background-color: #ffffff; /* Cor de fundo branca */
  position: relative;
  overflow: hidden;
}

.section-white-before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff; /* Cor de fundo branca */
  transform-origin: bottom right;
  transform: skewY(-5deg);
  z-index: -1;
}